    body {
        margin: 0em;
        padding: 0%;
        width: 100%;
        height: 300vh;
        background-color: rgb(204, 223, 241);
    }
    
    .navbar {
        position: fixed;
        /* overflow: hidden; */
        width: 100%;
        /* box shadow */
        border: 0.5px solid;
        padding: 5px;
        box-shadow: 2.5px 5px rgb(163, 163, 245);
        background-color: rgb(124, 212, 212);
        z-index: 20;
    }
    
    .my-nav a {
        display: inline;
    }
    
    .my-nav {
        position: absolute;
        right: 5%;
    }
    
    .logo {
        width: 20;
    }
    
    .list a {
        color: red !important;
    }
    
    .showcase {
        padding-top: 10rem;
        height: 50vh;
    }
    
    .showcasewriteup {
        padding-top: 10vh;
    }
    
    .automobile {
        text-align: center;
    }
    
    .tz-gallery {
        padding: 40px;
    }
    
    .tz-gallery .lightbox img {
        width: 100%;
        margin-bottom: 30px;
        transition: 0.2s ease-in-out;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    }
    
    .tz-gallery .lightbox img:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    }
    
    .tz-gallery img {
        border-radius: 4px;
    }
    
    .baguetteBox-button {
        background-color: transparent !important;
    }
    
    .gallery {
        width: 100%;
        height: 40vh;
        border-radius: 10rem;
        transition: transform .1s;
        padding: 3rem;
        margin: initial;
        -webkit-border-radius: 10rem;
        -moz-border-radius: 10rem;
        -ms-border-radius: 10rem;
        -o-border-radius: 10rem;
        -webkit-transition: transform .1s;
        -moz-transition: transform .1s;
        -ms-transition: transform .1s;
        -o-transition: transform .1s;
    }
    
    .gallery:hover {
        color: red;
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        border-radius: 7rem;
        -webkit-border-radius: 7rem;
        -moz-border-radius: 7rem;
        -ms-border-radius: 7rem;
        -o-border-radius: 7rem;
    }
    
    .column {
        float: left;
        width: 30.33%;
        padding: 10px;
        height: 10vh;
        border-left: 5rem;
        border: 10rem;
    }
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Should be removed. Only for demonstration */
    
    .foot {
        background-color: rgb(140, 185, 230);
        position: fixed;
        width: 100%;
        bottom: 0rem;
        left: 0em;
        padding: 2rem !important;
        height: 0.5rem;
        /* flex-shrink: 0%; */
    }
    
    input[type=text],
    select,
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
    }
    
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
    }
    /* Style the container/contact section */
    
    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 10px;
    }
    
    .container2 {
        height: 100vh;
    }
    /* Create two columns that float next to eachother */
    
    .contact {
        padding-top: 05rem;
        padding-bottom: 2rem;
    }
    
    .column {
        float: left;
        width: 33.33%;
        margin-top: 6px;
        padding: 20px;
    }
    
    .column1 {
        width: 30%;
    }
    
    .column2 {
        padding-left: 10rem;
        width: 65%;
    }
    /* Clear floats after the columns */
    
    .newrow {
        margin: 0;
        padding: 0;
        width: 100;
    }
    
    .newrow:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    
    @media screen and (max-width: 600px) {
        .column,
        input[type=submit] {
            width: 100%;
            margin-top: 0;
        }
    }
    
    .sidecar {
        padding-top: 2rem;
        padding-left: 2rem;
        border-radius: 40px;
        border-bottom-right-radius: 20px;
        /*border-radius: 2rem;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
          
        */
    }
    /* about section */
    
    .newrow {
        width: 100%;
        /* display: inline-block; */
        /* float: left; */
    }
    
    .aboutside {
        background-color: rgb(113, 173, 230);
        padding-top: 5rem;
    }
    
    .aboutside h2 {
        font-style: italic;
        font-size: 5rem;
        font-weight: bolder;
        text-align: center;
    }
    
    .aboutside h4 {
        text-align: center;
        color: black;
    }
    
    .aboutside p {
        color: #fff;
    }
    
    .btn {
        border-color: rgb(106, 106, 153);
        border-style: solid;
        /* border-color: #4CAF50; */
        width: 40%
    }
    
    .showcaseabout {
        background-color: rgb(113, 173, 230);
        padding-bottom: 3rem;
        margin: ;
    }
    
    .downcar {
        margin: 2;
        margin-top: 1rem;
        padding-top: 0%;
        background-color: rgb(205, 215, 218);
        height: 95vh;
    }
    
    .downcar img {
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }
    
    .downcar p {
        padding: 1rem;
    }
    
    .facebook {
        height: 10vh;
        padding-top: rem;
    }
    
    .facebook img {
        /* display: block; */
        border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 07rem;
        padding: 20px;
        position: relative;
        left: 60rem;
        margin-bottom: 15rem;
    }
    
    .mivi {
        padding-top: 2rem;
        /* padding-bottom: 2rem; */
    }
    
    .mission h1 {
        text-align: center;
        margin-top: 1rem;
        margin: 0rem;
        padding: 0%;
        width: 100%;
    }
    
    .mission p {
        text-align: center;
    }
    
    .vision h1 {
        text-align: center;
        margin-top: 1rem;
        margin: 0rem;
        padding: 0%;
        width: 100%;
    }
    
    .vision p {
        text-align: center;
    }
    /* .freq-logo { */
    /* background-color: #cbd1f0; */
    /* padding-top: 5rem;
        width: 1%;
    } */
    /* .freq-logo {
        width: 100%;
    } */